
.gradle/4.6/fileChanges/last-build.bin
.gradle/4.6/fileContent/fileContent.lock
.gradle/4.6/fileHashes/fileHashes.bin
.gradle/4.6/fileHashes/fileHashes.lock
.gradle/4.6/fileHashes/resourceHashesCache.bin
.gradle/4.6/javaCompile/classAnalysis.bin
.gradle/4.6/javaCompile/jarAnalysis.bin
.gradle/4.6/javaCompile/javaCompile.lock
.gradle/4.6/javaCompile/taskHistory.bin
.gradle/4.6/javaCompile/taskJars.bin
.gradle/4.6/taskHistory/taskHistory.bin
.gradle/4.6/taskHistory/taskHistory.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/vcsWorkingDirs/gc.properties
.idea/caches/build_file_checksums.ser
.idea/codeStyles/Project.xml
.idea/Game2.iml
.idea/gradle.xml
.idea/libraries/Gradle__android_arch_core_common_1_1_1_jar.xml
.idea/libraries/Gradle__android_arch_core_runtime_1_1_1.xml
.idea/libraries/Gradle__android_arch_lifecycle_common_1_1_1_jar.xml
